html,
body
 {
  height: 100vh;
  width: 100%;
  padding: 0px;
  margin: 0px;
 }

 html {
    box-sizing: border-box;
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/
    font-family: 'Nunito', sans-serif; 
  }

 body{
    display: grid;    
    grid-template-rows: 1fr 200px;
    background-color: rgba(4, 58, 194, 0.8);
    background-image: linear-gradient(rgba(239, 247, 254, 0.5), rgba(239, 247, 254, 0.5)), 
    url(./img/zzz.png);        
 }

 section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
 }

 h1{
    font-size: 10rem;
    color: rgb(3, 3, 147);    
 }
 
 h2{
    font-size: 7rem;
    color: rgb(3, 3, 147);
 }

 header{
    display: grid;      
    justify-content: center;  
 }

 section{
    align-items: center;
    justify-items: center;
 }

 input{
   height: 50px;
   width: 200px;
   background-color: rgb(3, 3, 147);
   color: aliceblue;
 }

 
 


